* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #18181a;
}
.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
.inner_footer .footer_third h1 {
  color: azure;
  padding-bottom: 20px;
}
.inner_footer .footer_third a {
  color: white;
  display: block;
  width: 100%;
  /* margin-bottom: 30px; */
  padding-bottom: 5px;
}
.inner_footer .footer_third {
  float: left;
  margin-right: 30px;
  width: 20%;
}
